  @font-face {
    font-family: 'Ostrich Sans Heavy';
    font-style: normal;
    font-weight: 400;
    src: local('Ostrich Sans Heavy'), local('OstrichSans-Heavy'), url(../font/OstrichSans-Heavy_90.otf);
  }

  table.fencing-opponent-symbol tr:not(:first-child) th {
    font-family: 'Ostrich Sans Heavy';
    font-size: 25px;
  }

  table.weapons tr {
    text-align: center;
  }